<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/indexStyle.css">
    <link rel=icon href="/public/images/favicon.png" sizes="16x16" type="image/png">

    <title>Laboratory Login</title>
</head>

<body>
    <div class="index">
        <!-- <div class="row dd"> -->
            <div class="short">
            <img src="/public/images/logo8.png" alt="ohealth-logo" class="logo"/>
            <div class="name">
                <h4>Online Health Company</h4>
            </div>
            <div>
                <p class="about">Ohealth Is An Online Application That Bridges The Gap Between Doctors And Patients. It Is A Telemedicine Application
                That Gives Users Access To Multiple Choice Of Communication That Best Suits Them To Talk To A Doctor.</p>
            </div>
            <div>
                <p class="about">Click on Laboratory to register/log in with Ohealth and conduct test for people.</p>
            </div>
         </div>
         <div class="buttons dd">
            <a href="http://www.onlinehealthng.com/laboratory/login"> <button class="serviceBtn">Laboratory</button></a>
            <button class="serviceBtn">Pharmacy</button>
        </div>
    <!-- </div> -->
        

    </div>
</body>

</html>

