<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/bootstrap-grid.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/loginstyle.css">

        <title>Laboratory Login</title>
    </head>

    <body class="hospital-body">
        <div class="hospital-signup">
            <form action="">
                <div class="row">
                    <div class="form-container col-lg-12">
                        <img src="images/logo8.png" alt="ohealth-logo" class="ohealthLogo" />
                    </div>
                    <div class="form-container col-lg-12">
                        <h3>Login to your Dashboard</h3>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <input type="email" name="email" id="" placeholder="Email Address*" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input type="password" name="password" id="" placeholder="Password*" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <p>Don't have an account? <span> <a href="laboratory-signup.html">Register</a> </span></p>
                    </div>
                    <div class="col-lg-12">
                        <a href="forgetPassword.html">Forget Password?</a>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <button type="submit" class="hospital-btn">Login</button>
                        </div>
                    </div>
            </form>
        </div>
    </body>

</html>